[Unit]
Description=FastAPI application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/app
ExecStart=/home/ubuntu/app/.venv/bin/fastapi run --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
    